<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有的简历信息页面</title>
</head>
<body>
    <!--
        我希望在此页面显示所有的简历
     -->
    <center>
        <table border="1px" cellspacing="1px" cellpadding="10px">
            <tr>
                <th>UserId</th>
                <th>Actual_Name</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Graduate_School</th>
                <th>Awards</th>
                <th>Introduce</th>
                <th>Experience</th>
            </tr>
            <tr th:each="resume:${data}">
                <td th:text="${resume.id}"></td>
                <td th:text="${resume.name}"></td>
                <td th:text="${resume.sex}"></td>
                <td th:text="${resume.age}"></td>
                <td th:text="${resume.email}"></td>
                <td th:text="${resume.phone}"></td>
                <td th:text="${resume.school}"></td>
                <td th:text="${resume.awards}"></td>
                <td th:text="${resume.introduce}"></td>
                <td th:text="${resume.experience}"></td>
            </tr>
        </table>
    </center>
</body>
</html>